{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block content %}
    <h1 class="title-login">Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'account_reset_password' %}">Esqueceu a Senha?</a>
        <br>
        <br>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6LcIAd0ZAAAAAGWUDh9u_ObdV18A4YDqRVoH55bi" ></div>
        <br>
        <br>
        <div align="center">
            <button class="btn btn-success" type="submit" style="width: 170px">Entrar</button>
        </div>
    </form>
{% endblock %}