{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Alterar Senha{% endblock %}

{% block content %}
    {% if token_fail %}
    <br>
        <div class="alert alert-danger" role="alert" align="center">
            <strong>Token invalido!</strong> Acesse o <strong> Link </strong> enviado para o terminal do Django.
        </div>
    {% else %}
        <h5> Altere sua senha nos campos abaixo </h5>
    {% endif %}
    <br>
     {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <br>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" name="action" value="Alterar Senha"/>
            </form>
        {% else %}
            <p>Sua senha foi alterada.</p>
        {% endif %}
    {% endif %}
{% endblock %}
