{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Senha Alterada{% endblock %}

{% block content %}
    <br>
        <div class="alert alert-success" role="alert" align="center">
            <strong>Senha alterada!</strong> Acesse a aba <strong> <a href="{% url 'account_login' %}"><strong>Entrar</strong></a> para efetuar o login novamente.
        </div>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
{% endblock %}