{% load static %}

<!DOCTYPE HTML>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>        

        <meta charset="utf-8"><!-- formatação do texto -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- navegador microsoft EDGE -->
        <meta name="viewport" content="width=device-width, initial-scale=1"><!-- responsivo -->

        <!-- Fontes -->
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"><!--Fonte roboto  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!-- Fonte material icons   -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"><!-- Fonte material icons   -->
        
        <!-- FRAMEWORKS(CAIXAS DE FERRAMENTAS) DO CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- CAMINHO DO CSS E DA IMAGEM --> 
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">

    <title>Análise Rápida</title>

    </head>
      
    <body>

    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
            <div class="container">
                <a class="navbar-brand" href="{% url 'account_login' %}" >
                    <img src="{% static 'img/favicon.png' %}" align="top" width="43px" height="36px" style="margin-right: 7px">
                    <sub style="font-family: 'Times', cursive; font-size: large">Web I.A. US</sub>
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}" style="font-family: 'Times', cursive; font-size: large">Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

            <section class="sectionComentarios row">

                <!-- CLICANDO NO LADO POSITIVO  DO GRÁFICO -->
                <div class="myChart1 col-sm"> <!-- CHAMA O MÉTODO DO GRÁFICO -->
                    <canvas id="myChart" width="200px" height="260px"></canvas> 
                </div>

                <div class="comentariosGrafico col-sm" align="center">
                    <p>Comentários negativos? <a href="#">Clique aqui!</a></p>
                    
                    <table>

                        <!-- PRIMEIRA LINHA -->
                        <tr>
                            <td>
                                Comentários negativos
                            </td>
                        </tr>        
                    </table>
                </div>

                <div class="comentariosGrafico col-sm" align="center">
                    <p>Comentários positivos? <a href="#">Clique aqui!</a></p>
                    
                    <table>

                        <!-- PRIMEIRA LINHA -->
                        <tr>
                            <td>
                                Comentários positivos
                            </td>
                        </tr>        
                    </table>
                </div>
                {% if pos %}
                    <p>Teste do Envido da Resposta:<a>{{pos}}</a>,<a>{{neg}}</a></p>
                {% endif %}
                <script> 
                    var ctx = document.getElementById('myChart').getContext('2d');
                    ctx.fillStyle="#7F7F00";
                    ctx.fillRect(0, 0, 150, 100);
                    var myChart = new Chart(ctx, {
                        type: 'bar', // AQUI PODE MUDAR O TIPO DO GRÁFICO
                            data: {
                            labels: ['Comentários'],
                            datasets: [
                                {
                                    label: "Positivo",
                                    data: [5], // VARIAVEL RECEPTORA DOS DADOS DO SQL
                                    borderWidth: 0.5,
                                    backgroundColor: ['#CAFF70'],
                                },
                                {
                                    label: "Negativo",
                                    data: [5],
                                    borderWidth: 0.5,
                                    backgroundColor: '#CD5555',
                                    
                        
                                }
                                ],
                        },

                        options: {
                            tooltips: {
                                mode: 'index',
                                    intersect: false
                                    },
                            scales: {
                                yAxes: [{
                                    scaleLabel: {
                                    display: true,
                                    labelString: "Quantidade"
                                },
                                    ticks: {
                                        autoSkip: false,
                                        fontSize: 10,
                                        beginAtZero: true
                                    }
                                }]
                            },
                            legend: {
                                labels: {
                                    boxWidth: 10
                                },
                                position: "bottom",              
                            }
                        }
                    });
                </script>
            
            </section>
        </div>
    </body>
</html>