{% extends 'base.html' %}
{% load static %}
{% block title %}Resultados{% endblock %}

{% block content %}
<div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Resultados da Análise'
        },
        xAxis: {
            categories: ['Comentários']
        },
        series: [{
          name: 'Positivos',
          data: {{ contagemP|safe }},
          color: '#2591fa'
      }, {
          name: 'Negativos',
          data: {{ contagemN|safe }},
          color: 'red'
      }]
    });
  </script>
  <div align="center">
    <a href="{% url 'home' %}" type="submit" class="btn btn-primary" style="margin: 0 30px; width: 170px">Nova Análise</a>
  </div>
  <br> 
  <!-- Botão 'Gerar pdf' ainda em desenvolvimento
  <div align="center">
    <a href="{% url 'gerador_pdf' %}" type="submit"  style="margin: 0 30px; width: 170px">Gerar PDF</a>
  </div> -->
{% endblock %}