{% extends 'base.html' %}

{% load static %}

{% block title %}Webiaus{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    <br>
        <form action=""> <!-- FORMULÁRIO -->
            <h1 class="title-login">Análise Rápida</h1>
            <div> <!--CAMPO 1 DE EMAIL -->
                <div>
                <input class="form-control" placeholder="Upload de Arquivo" type="file" id="arquivo" name="arquivo_csv"> 
                </div>
            </div>
            <br>
            <div align="center">
                <button class="btn btn-primary" type="submit" style="margin: 0 30px; width: 170px">Analisar</button>
            </div>
        </form>

        
    {% else %}
    <br>
        <div class="alert alert-danger" role="alert" align="center">
            <strong>Efetue o Login ou Cadastro</strong> 
            <br>
            Para ter acesso ao Analisador de Sentimentos
        </div>
    {% endif %}
{% endblock %}